# Logistic Regression

We import the useful libraries then we upload the dataset with pd.read_csv method after that we will check head() then split the data into train and test and check our model efficiency.

In [1]:
import pandas as pd

In [2]:
customer = pd.read_csv("C:/Users/hp/Documents/customer.csv")

In [3]:
customer.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [22]:
from sklearn.linear_model import LogisticRegression

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
from sklearn.metrics import mean_squared_error,confusion_matrix

In [33]:
x = customer[["tenure"]]

In [34]:
y = customer[["Churn"]]

In [39]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size = 0.40)

In [40]:
lr= LogisticRegression()

In [41]:
lr.fit(x_train,y_train)

c:\users\hp\appdata\local\programs\python\python38\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

LogisticRegression()

In [42]:
y_pred = lr.predict(x_test)

In [43]:
y_test.head()

     Churn
1885    No
3054    No
5670   Yes
2986    No
3407    No

In [44]:
y_pred[0:5]

array(['No', 'No', 'No', 'No', 'No'], dtype=object)

In [49]:
confusion_matrix(y_test,y_pred)

array([[2068,    7],
       [ 743,    0]], dtype=int64)

In [50]:
100*(2068+0)/(2068+7+743+0)

73.38537970191625

In [51]:
#####################################    LOGISTIC REGRESSION  ##################################################################

# Linear Regression

Now we will try Linear Regression after 73.38 acuuracy of logistic regression. We will find Mean Squared Error.

In [52]:
from sklearn.linear_model import LinearRegression

In [53]:
from sklearn.model_selection import train_test_split

In [54]:
from sklearn.metrics import mean_squared_error

In [55]:
customer.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [56]:
y = customer[["MonthlyCharges"]]

In [57]:
x = customer[["tenure"]]

In [58]:
x_train,x_test,y_train,y_test= train_test_split(x,y,test_size=0.30)

In [59]:
lin = LinearRegression()

In [60]:
lin.fit(x_train,y_train)

LinearRegression()

In [61]:
y_pred = lin.predict(x_test)

In [62]:
y_test.head()

      MonthlyCharges
2656           59.30
4998          110.75
6680           95.50
3639          100.50
4135           92.90

In [63]:
y_pred[0:5]

array([[67.00742282],
       [74.21301601],
       [69.82700276],
       [73.58644269],
       [66.06756284]])

In [64]:
mean_squared_error(y_test,y_pred)

861.5536903112968

In [65]:
########################################## Linear Regression ###################################################################